{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page introuval</h1>

    <p>
        Coucou toi cette page n'existe pas reviens plus tard
        ou <a href="{{ path('app_home') }}">retourn sur la page d'acceuil</a>.
    </p>
{% endblock %}